body{
    background-image: linear-gradient(to right, rgb(252, 199, 208), lightgrey);
}
h1{
    text-align: center;
    text-transform: uppercase;
}
h2{
    text-align: center;
    text-decoration: underline;
}